         
.c-grad {
  background-image: linear-gradient(to bottom, #603813 0%, #b29f94  51%, #603813  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  max-width: 75vw;
}

.c-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


         
.c-grad2 {
  background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  /* max-width: 75vw; */

}

.c-grad2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
         